<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>

<aside class="sidebar">
  <header>
    <div class="about">
      <div class="cover-author-image">
        <a href="{{site.baseurl}}/"><img src="{{site.baseurl}}/assets/img/{% if site.author-img %}{{site.author-img}}{% endif %}" alt="{{site.author}}"></a>
      </div>
      <div class="author-name">{{site.author}}</div>
        <h1 class="project-tagline">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
    </div>
  </header> <!-- End Header -->
        <a href="{{ site.url }}/publications" class="btn2">Publications</a>
        <a href="{{ site.url }}/notes" class="btn2">Notes</a>
        <a href="{{ site.url }}/posts" class="btn2">Posts</a>
        <a href="{{ site.url }}/cats" class="btn2">Cats</a>
      <footer>
          {% if site.social-twitter %}
          <a href="https://twitter.com/{{ site.social-twitter }}" target="_blank" ><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.social-github %}
          <a href="https://github.com/{{ site.social-github }}" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          {% endif %}
          {% if site.social-scholar %}
          <a href="https://scholar.google.ca/{{ site.social-scholar }}" target="_blank"><i class="fa fa-scholar fa-2x" aria-hidden="true"></i></a>
          {% endif %}
           <div class="copyright">
      <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
    </div>
      </footer>
</aside> <!-- End Sidebar -->

<div class="content-box clearfix">
  <body>
    <main id="content" class="main-content2" role="main">
      {{ content }}
        <img src="/assets/img/image_cat1.jpg" class="inline" style="width:378px;height:504px;" />
    </main>
  </body>
</div>
</html>
3024 × 4032